* {
  /*margin: 0;*/
  /*padding: 0;*/
  box-sizing: border-box;
}

body {
  z-index: 0;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

nav {
  display: absolute;
  position: fixed;
  overflow: auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 50px;
  border-collapse: collapse;
  z-index: 2;
}

.sidebarIcon {
  cursor: pointer;
  position: fixed;
  z-index: 3;
  left: 15px;
  height: 22px;
  width: 22px;
}

.openIcon {
  top: 15px;
}

.lockIcon {
  top: 50px;
}

.spinner {
  transition: all 300ms;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #000000;
  float: left;
}

#spinnertop {
  position: relative;
}

#spinnermiddle {
  position: relative;
  margin-top: 3px;
}

#spinnerbottom {
  position: relative;
  margin-top: 3px;
}

input[type="checkbox"] {
  display: none;
}

input[id="openSidebar"]:checked ~ .openIcon #spinnertop {
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}

input[id="openSidebar"]:checked ~ .openIcon #spinnermiddle {
  box-sizing: border-box;
  opacity: 0;
}

input[id="openSidebar"]:checked ~ .openIcon > #spinnerbottom {
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

input[id="lockSidebar"]:checked ~ .lockIcon #lock:before {
  bottom: 13.5px;
  left: 9px;
  margin-left: -8px;
  transform: rotate(0deg);
}

/* Locked - Lock body */
#lock {
  transition: all 300ms;
  display: inline-block;
  width: 22px;
  height: 18px;
  border: 3px solid #000000;
  border-radius: 5px;
  position: relative;
}

/* Locked - Lock shackle */
#lock:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  border: 3px solid #000000;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom: 0;
  bottom: 16px;
  left: 9px;
  margin-left: -11.5px;
  transform: rotate(-30deg);
}

/* Locked - Lock key hole */
#lock:after {
  content: "";
  display: block;
  background: #000000;
  width: 3px;
  height: 7px;
  position: absolute;
  top: 6px;
  left: 8.5px;
  margin: -3.5px 0 0 -2px;
}

input[id="openSidebar"]:not(:checked) ~ .lockIcon > #lock {
  visibility: hidden;
}

input[id="openSidebar"]:checked ~ .lockIcon > #lock {
  visibility: visible;
}

#menu {
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 450px;
  padding-left: 40px;
  padding-bottom: 10px;
  background: #ededed;
  transform: translateX(-450px);
  transition: all 300ms;
}

input[id="openSidebar"]:checked ~ #menu {
  transform: translateX(0);
}

#contentouter {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  margin: 0px 60px 20px 60px;
  z-index: 1;
}

input[id="lockSidebar"]:checked ~ #contentouter {
  left: 400px;
  right: 0px;
}

h1,
h2,
h3,
h4,
h5 {
  width: 100%;
  display: block;
  padding-bottom: 5px;
}

h1,
h2,
h3 {
  border-bottom: 1px solid black;
}

#content,
#coverpage {
  position: relative;
  top: 50px;
  margin: 0px 60px 20px 60px;
  z-index: 1;
}

#center {
  text-align: center;
}

#coverpage {
  margin-bottom: 100px;
}

#coverpage h1,
#coverpage h2 {
  border-bottom: none;
}

#content h1 {
  margin-top: 50px;
}

h2 {
  margin-top: 30px;
}

h3 {
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

a:link {
  color: blue;
}

a:visited {
  color: blue;
}

nav .navigation_list {
  list-style: none;
  padding-left: 0px;
  display: block;
  color: #000000;
  margin: 0px;
  font-weight: bold;
  font-size: 12px;
}

#toc .navigation_list {
  list-style: none;
}

nav .navigation_list_item {
  display: block;
  color: #ccc;
  text-decoration: none;
  padding: 7px 0px 0px 10px;
}

a.navigation_list_item_link {
  color: #000000;
}

a.navigation_list_item_link:hover {
  color: blue;
}

#toc {
  position: relative;
  top: 50px;
  margin: 0px 60px 20px 60px;
  z-index: 1;
}

#watermark-spacer {
  position: relative;
  padding-top: 50px;
}

#watermark {
  position: fixed;
  top: 80px;
  left: 5px;
  writing-mode: vertical-rl; 
  transform: rotate(180deg);
  transform-origin: center center;
  opacity: 0.8;
  text-align: center;
  color: red;
  font-size: 9pt;
  font-weight: normal;
  z-index: 2;
  white-space: nowrap;
  line-height: 1.2;
}

code {
  padding: 0.5em 0.5em;
  background-color: #eee;
  word-break: break-all;
  white-space: pre-wrap !important;
}

pre code {
  display: block;
  overflow-x: auto;
}

table {
  table-layout: auto;
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  border-collapse: collapse;
  margin: 0px;
  font-size: 10pt;
  text-align: left;
  page-break-inside: auto;
}

tr {
  page-break-inside: avoid;
  page-break-after: auto;
}

td,
th {
  border: 1px solid Silver;
  padding: 3px 3px 3px 5px;
  vertical-align: center;
}

th {
  background-color: LightGray;
}

table.message_json tr th:nth-child(2) {
  width: 1%;
  white-space: nowrap;
}

table.message_json tr th:nth-child(3) {
  width: 1%;
  white-space: nowrap;
}

table.message_json tr td:nth-child(1) {
  font-family: "Courier New", monospace;
  white-space: pre;
}

table.message_json tr td:nth-child(2) {
  width: 1%;
  white-space: nowrap;
}

table.message_json tr td:nth-child(3) {
  width: 1%;
  white-space: nowrap;
  text-align: center;
}

table.message_keys tr td:nth-child(1) {
  vertical-align: top;
}

table.message_keys tr td:nth-child(1) {
  vertical-align: top;
}

table.message_keys tr td:first-child > p:nth-child(2) {
  font-style: normal;
  font-weight: bold;
}

li > code:first-child {
  padding: 0px;
  background-color: white;
}

table.message_keys tr > td > ul > li {
  padding: 2px;
}
